@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700|Roboto:300i,400,400i,500&display=swap&subset=latin-ext');

$font-color: #ffffff;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}